:root {
  --background: #0c1021;
  --yellow: #fbde2d;
  --blue: #8da6ce;
  --orange: #ff6400;
  --white: white;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--white);
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  gap: 50px;
  cursor: pointer;
}

.list-item-link {
  text-decoration: none;
  color: var(--orange);
}

.list-item-link:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.main {
  padding: 0 20px;
}

.promptDiv {
  display: flex;
}

.prompt {
  color: var(--yellow);
  margin-right: 10px;
}

.prompt-input {
  font-family: 'JetBrains Mono', monospace;
  caret-color: var(--yellow);
  caret-shape: block;
  border: none;
  background-color: transparent;
  color: var(--white);
  width: 100%;
  flex: 1;
  cursor: text;
}

.prompt-input:focus {
  outline: none;
}
